<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ item.name }}</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>Цена: {{ item.price }}</p>
    <input id="quantity" type="number" value="1" min="1">
    <button id="buy-button">Купить сейчас</button>
    <button id="add-to-cart-button">Добавить в корзину</button>

    <script>
        const itemId = "{{ item.id }}"
        const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
        const csrfToken = "{{ csrf_token }}"

        async function createNewOrder() {
            const response = await fetch("/order", {
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrfToken
                },
            })
            resp_body = await response.json()
            return resp_body.order_id
        }

        async function getOrderCookie() {
            order_id = getCookieValue("order_id")
            if (order_id != "" && order_id != null) {
                console.log("Check order_id")
                await fetch(`/order/${order_id}`, {
                    "method": "GET",
                })
                .then(response => response.json())
                .then(detail => {
                    if (detail.finished_at != null) {
                        document.cookie = "order_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
                        order_id = null
                    }
                })
            }
            return order_id
        }

        async function addItemToCart() {
            order_id = await getOrderCookie()
            if (order_id == "" || order_id == null) {
                order_id = await createNewOrder()
                console.log(`Order id is ${order_id}`)
                if (order_id == "" || order_id == null) {
                    alert("Не удалось создать заказ")
                    return
                }
                document.cookie = `order_id=${order_id}; path=/`
                console.log("Cookie with order_id is set")
            }
            addItemToOrder(order_id)
        }

        async function addItemToOrder(order_id) {
            await fetch(`/order/${order_id}/add_item`, {"method": "POST",
                "headers": {
                    "X-CSRFToken": csrfToken,
                    "Content-Type": "application/json"
                },
                "body": JSON.stringify({
                    "item_id": itemId,
                    "quantity": document.getElementById("quantity").value,
                })
            })
            .then(response => {
                if (!response.ok) {
                    alert("Не удалось добавить товар в заказ")
                }
            })
        }

        function getCookieValue(name) {
            const nameEQ = name + "=";
            const ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        document.getElementById("buy-button").addEventListener("click", function() {
            fetch("/buy/{{ item.id }}", {method: "POST", "headers": {
                "X-CSRFToken": csrfToken
            }, "body": JSON.stringify({"quantity": document.getElementById("quantity").value})})
            .then(response => response.json())
            .then(session => {
                return stripe.redirectToCheckout({ sessionId: session.session_id });
            })
            .catch(error => {
                console.error("Error:", error)
                alert("Ошибка при подготовке платежа")
            });
        });
        document.getElementById("add-to-cart-button").addEventListener("click", addItemToCart)
    </script>
</body>
</html>
